.path-mod-mediamanager .mediamanagercontent {
    text-align: center;
}

.path-mod-mediamanager .mediamanagerdetails {
    font-size: 0.8em;
    color: #555;
}

.mediamanagerlinkdetails {
    font-size: 0.8em;
    color: #555;
}
